*+* {
    box-sizing: border-box;
    margin: 0.5em 0;
}
@media(min-width:35em) {
    .col {
        display: table-cell;
    }
    .\31 {
        width: 5%;
    }
    .\33 {
        width: 22%;
    }
    .\34 {
        width: 30%;
    }
    .\35 {
        width: 40%;
    }
    .\32 {
        width: 15%;
    }
    .row {
        display: table;
        border-spacing: 1em 0;
    }
}
.row,
.w-100 {
    width: 100%;
}
.card:focus,
hr {
    outline: 0;
    border: 2px dashed #fa0;
}
.card,
pre {
    padding: 1em;
    border: solid #eee;
}
.btn:hover,
a:hover {
    opacity: 0.6;
}
.c {
    max-width: 60em;
    padding: 1em;
    margin: auto;
    font: 1em/1.6 'Barlow';
    color: #fff;
}
h6 {
    font-weight: 300;
    font-size: 1em;
    font-family: 'Barlow';
}
h5 {
    font-weight: 300;
    font-size: 1em;
    font-family: 'Barlow';
}
h3 {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 300;
    font-size: 1.1em;
    font-family: 'Barlow';
}
h4 {
    font-weight: 300;
    font-size: 1em;
    font-family: 'Barlow';
}
h2 {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 300;
    font-size: 1.5em;
    font-family: 'Barlow';
}
h1 {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 500;
    font-size: 2em;
    font-family: 'Barlow';
}
a {
    color: #fa0;
    text-decoration: none;
}
.btn.primary {
    color: #fff;
    background: #fa0;
    border: solid #fa0;
}
pre {
    overflow: auto;
}
td,
th {
    padding: 1em;
    text-align: left;
    color: #fff;
    border-bottom: solid #eee;
}
.btn {
    cursor: pointer;
    padding: 1em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    background: #fff;
    border: solid #fa0;
    font-weight: 500;
    font-size: 0.7em;
    font-family: 'Barlow';
}
body {
    background: #000000;
}
@font-face {
    font-family: 'Barlow';
    font-weight: 300;
    font-style: normal;
    src: url('woff/Barlow-Light.woff2') format('woff');
}
@font-face {
    font-family: 'Barlow';
    font-weight: 500;
    font-style: normal;
    src: url('woff/Barlow-Medium.woff2') format('woff');